
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;

    
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
.title{
    position: absolute;
    text-align: center;
    margin-top: 70vh;
    margin-left: 48vw;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 30px;
    width: 40vw;
    
}
.button{
    position: absolute;
    margin-top: 80vh;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 25px;

}
.btn{
    border: 1px solid #fff;
    padding: 5px 22px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}

